<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Update_Grade.Properties.Settings.EnrollmentDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-LU9MQ50\SQLEXPRESS;Initial Catalog=EnrollmentDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>